<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Helper.listener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/ASUS/IdeaProjects/Selenium">
        <classes>
            <class name="Pages.loginPageTest"></class>
            <class name="Pages.createAccountPageTest"></class>
            <class name="Pages.homePageTest"></class>
            <class name="Pages.addressPageTest"></class>
        </classes>
    </test>
</suite>